.nav_container {
  padding: 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_nav_container {
  display: flex;
}
.search_container {
  display: flex;
  background-color: white;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.search_container input {
  width: 300px;
  background-color: white;
  padding: 10px;
  border: 0px;
  outline: 0px;
  transition: 0.3s ease;
  font-size: 20px;
}

.search_container input:focus {
  width: 700px;
}
@media (max-width: 700px) {
  .search_container {
    width: 100%;
  }
  .search_container input:focus {
    width: 200px;
  }
}
